<h1>プロフィール編集ページ</h1>
<div>
  <h2>User info</h2>
  <%= form_with model:@user, local:true do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %>prohibited this book from being saved</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <h3>Name</h3>
    <%= f.text_field :name %>
    <h3>Image</h3>
    <%= f.attachment_field :profile_image %>
    <h3>Introduction</h3>
    <%= f.text_area :introduction %>
    <div class="update-box"><%= f.submit 'Update User' %></div>
  <% end %>
</div>